@layout('main')
@section('content')
{{--  layout da main  --}}
<h1 class="mt-4 mb-4">home</h1>

<div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">Essa é uma simples aplicação para mostrar como o Adonis js funciona - FULL MVC .</p>
        <hr class="my-4">
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/add" role="button">Add Tasks</a>
        </p>
      </div>
@endsection